<!-- Editable table -->
<div class="card">
    <div class="card-header">
        <strong> Rooms </strong>
    </div>
    <div class="card-body">
      <div id="table" class="table-editable" >
        <span class="table-add float-right mb-3 mr-2">
          <!-- <button class="btn-success btn " (click)="add()">
            Add
          </button> -->
          <button type="button" class="btn btn-primary mr-1 " data-toggle="modal" (click)="largeModal.show()">
            Add
          </button>
        </span>
        <table class="table table-bordered table-responsive-md table-striped text-center" >
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Min Age</th>
            <th class="text-center">Max Age</th>
            <th class="text-center">Child Ratio</th>
            <th class="text-center">Staff Ratio</th>
            <th class="text-center">Capacity</th>
            <th class="text-center">Daily Rate</th>
            <th class="text-center">Actions</th>
          </tr>
          
         
            <tr room-list-line *ngFor="let room of roomList; let id = index" [room]="room" (newItemEvent)="refreshList($event)"></tr>
   
        </table>

      </div>

    </div>
    
    
  </div>
  
<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">New Room</h4>

          <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="newRoom" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    

                        <label>
                            Name:
                           
                        </label>
                        <input type="text" class="form-control text" formControlName="name">

                </div>
                
            </div>
            <div class="row">
                <div class="col">
                    

                        <label>
                            Min age:
                            
                        </label>
                        <input type="text" class="form-control text" formControlName="minAge">

                </div>
                <div class="col">
                    

                    <label>
                        Max age:
                        
                    </label>
                    <input type="text" class="form-control text" formControlName="maxAge">

                 </div>
            
            </div>
       
    
            <div class="row">
                <div class="col">
                    

                        <label>
                            Child ratio:
                            
                        </label>
                        <input type="text" class="form-control text" formControlName="childRatio">

                </div>
                <div class="col">
                    

                    <label>
                        Staff ratio:
                        
                    </label>
                    <input type="text" class="form-control text" formControlName="staffRatio">

                 </div>
            </div>
      
      
            <div class="row">
                <div class="col">
                    

                        <label>
                            Capacity :
                            
                        </label>
                        <input type="text" class="form-control text" formControlName="capacity">

                </div>
                <div class="col">
                    

                    <label>
                        Daily rate:
                        
                    </label>
                    <input type="text" class="form-control text" formControlName="dailyRate">

                  </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
          <button type="submit" class="btn btn-primary" (click)="largeModal.hide()">Save changes</button>
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- Editable table -->