
<div class="animated fadeIn" >
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">  {{ centre.name | uppercase }}  </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p>Enquire now </p> 
                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            <tabset>
                                <tab>
                                  <ng-template tabHeading>  <i class="fa fa-question"></i> Vacancies </ng-template>
                                  <!-- <app-carousel-shared [slides]="centre.photos"></app-carousel-shared>                                 -->
                                  <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                      <tr>
                                        <th>Room name</th>
                                        <th>Monday</th>
                                        <th>Tuesday</th>
                                        <th>Wednesday</th>
                                        <th>Thursday</th>
                                        <th>Friday</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Nursery</td>
                                        <td>0 / 5</td>
                                        <td>1 / 5</td>
                                        <td>
                                            2 / 5
                                        </td>
                                        <td>
                                            3 / 5
                                        </td>
                                        <td>
                                            2 / 5
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Toddlers A</td>
                                        <td>0 / 5</td>
                                        <td>1 / 5</td>
                                        <td>
                                            2 / 5
                                        </td>
                                        <td>
                                            3 / 5
                                        </td>
                                        <td>
                                            2 / 5
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Toddlers B</td>
                                        <td>0 / 5</td>
                                        <td>1 / 5</td>
                                        <td>
                                            2 / 5
                                        </td>
                                        <td>
                                            3 / 5
                                        </td>
                                        <td>
                                            2 / 5
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Pre-Kindergarten</td>
                                        <td>0 / 5</td>
                                        <td>1 / 5</td>
                                        <td>
                                            2 / 5
                                        </td>
                                        <td>
                                            3 / 5
                                        </td>
                                        <td>
                                            2 / 5
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Kindergarten</td>
                                        <td>0 / 5</td>
                                        <td>1 / 5</td>
                                        <td>
                                            2 / 5
                                        </td>
                                        <td>
                                            3 / 5
                                        </td>
                                        <td>
                                            2 / 5
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>

                                </tab>
                                <tab>
                                  <ng-template tabHeading><i class="fa fa-list"></i>Waitlist </ng-template>
                                  <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                      <tr>
                                        <th>Room name</th>
                                        <th>Waitlist - High</th>
                                        <th>Waitlist - Normal</th>
                                       
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Nursery</td>
                                        <td>0 </td>
                                        <td>1 </td>
                                        
                                      </tr>
                                      <tr>
                                        <td>Toddlers A</td>
                                        <td>1 </td>
                                        <td>2</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>Toddlers B</td>
                                        <td>1</td>
                                        <td>1 </td>
                                        
                                      </tr>
                                      <tr>
                                        <td>Pre-Kindergarten</td>
                                        <td>1</td>
                                        <td>2</td>
                                      
                                      </tr>
                                      <tr>
                                        <td>Kindergarten</td>
                                        <td>1</td>
                                        <td>1</td>
                                       
                                      </tr>
                                    </tbody>
                                  </table>
                                  </tab>
                                <tab>
                                  <ng-template tabHeading><i class="fa fa-calculator"></i>Offerings</ng-template>
                                  <ul>
                                    <li *ngFor="let offering of centreofferings"> {{ offering.description }} </li>
                                  </ul>
                                </tab>
                                <tab>
                                    <ng-template tabHeading><i class="fa fa-envelope"></i>Contact</ng-template>
                                    4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </tab>
                            </tabset> 
                        </div>
                    </div>
                   
     
                </div>
            </div>
            
        </div>
    </div>
</div> 