<div class="row justify-content-center">
    <div class="col-md-6">
        <!-- <div class="clearfix">
            <h1 class="float-left display-3 mr-4">404</h1>
            <h4 class="pt-3">Oops! You're lost.</h4>

        </div> -->
        <div class="input-prepend input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
                
            </div>
            <input input size="16" ngx-google-places-autocomplete [options]="{types: [],componentRestrictions: { country: 'AU' }
                }" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" class="form-control" placeholder="Start searching by address, postcode or suburb" />

             <!-- <input size="16" type="text" #searchBox id="search-box" (input)="search(searchBox.value)" class="form-control" placeholder="Start searching by address, postcode or suburb">  -->
                    <!-- <button (click)="search()"type="button" class="btn btn-info">
                    </button> -->
                    <!-- <i class="fa fa-search"></i>&nbsp; Search -->
                    
        </div>
    </div>
</div>
<div class="row">
    &nbsp;
</div>
<div class="row">
    <div class="col">
        <google-map height="500px"
        width="100%"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="logCoords($event)" > 
        <map-marker #marker="mapMarker"
            *ngFor="let markerPosition of markerPositions"
            [position]="markerPosition" [options]="markerOptions"
                    (mapClick)="openInfoWindow(marker)"></map-marker>
   <map-marker #marker="mapMarker"
                    *ngFor="let centreMarker of centreMarkers"
                    [position]="centreMarker" [options]="centremarkerOptions"
                            (mapClick)="openInfoWindow(marker)"></map-marker>  -

        
        <!-- <map-info-window>
             <div id="iw-container">
                <div class="iw-title">  </div>
                <div class="iw-content">
                  <div class="iw-subTitle">Overview</div> -->
                  <!-- <img src="http://maps.marnoto.com/en/5wayscustomizeinfowindow/images/vistalegre.jpg" alt="Amazing Centre main" height="50" width="50"> -->
                  <!-- <p> {{ centreViewed.description }} </p> -->
                  <!-- <div class="iw-subTitle">Contacts</div>' 
                  <p>VISTA ALEGRE ATLANTIS, SA<br>3830-292 Ílhavo - Portugal<br>
                  <br>Phone. +351 234 320 600<br>e-mail: geral@vaa.pt<br>www: www.myvistaalegre.com</p> -->
                <!-- </div>
                <div class="iw-bottom-gradient"></div>
              </div> -->
        <!-- </map-info-window> --> 
        </google-map>
            


    </div>
    <!-- <div class="col">
        &nbsp;
    </div> -->
</div>
<div class="row">
    &nbsp;
</div>
<div class="row">
    <div class="col">

    </div>
</div>