<!-- Editable table -->
<div class="card">

    <div class="card-body">
      <div id="table" class="table-editable" >
        <span class="table-add float-right mb-3 mr-2">
          <button class="btn-success btn " (click)="add()">
            Add
          </button>
        </span>
        <table class="table table-bordered table-responsive-md table-striped text-center" >
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Min Age</th>
            <th class="text-center">Max Age</th>
            <th class="text-center">Child Ratio</th>
            <th class="text-center">Staff Ratio</th>
            <th class="text-center">Capacity</th>
            <th class="text-center">Daily Rate</th>
            <th class="text-center">Actions</th>
          </tr>
          
          <tr *ngFor="let room of roomList; let id = index" >
            
          </tr>
        </table>

      </div>

    </div>
    
    
  </div>
  <!-- Editable table -->